
body {
    background-color: white !important;
    font-family: 'Segoe UI';
}




.form1 {

    display: block;

    background-color: whitesmoke !important;
    border: 1px solid;
    border-radius:15px;
}


a:link {
    color: steelblue;
    text-decoration: none !important;
    cursor: pointer;
    overflow: hidden;
}

a:visited {
    text-decoration: none;
    color: steelblue;
}

#para{
    width: 25   0px;
} 

b{
    font-size: 17px;
}


.deneme{
    border: 1px solid;
    border-radius:15px;
    margin: 5px;
    
}
#dovIsim{
    color: blue;
}
#Baslik{
    color: #B6B8B4;
}
#dovDegisim{
    color: rgb(2, 202, 92)
}

.money1{
    width: 300px;
    padding: 6px 10px;
    margin-bottom: 18px;
    border:3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
}
.money2{
    width: 300px;
    padding: 6px 10px;
    margin-bottom: 18px;
    border:3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
}
#Miktar{
    width: 300px;
    padding: 6px 10px;
    margin: 18px 0;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
}
#para2{
    width: 300px;
    padding: 6px 10px;
    
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
}
#sonuc{
    width: 300px;
    padding: 6px 10px;
    
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 40px;
}



