
body {
    background-color: white !important;
    font-family: 'Segoe UI';
}




.form1 {

    display: block;

    background-color: whitesmoke !important;
    border: 1px solid;
    border-radius:15px;
}

.doviz_cevirici ul {
    border: none !important;
}

.doviz_cevirici li {
    display: block;
    overflow: hidden;
}

.doviz_cevirici {
    font-size: 14px;
    color: steelblue;
    text-align: center;
}

.doviz_cevirici input[type=text] {
    width: 250px;
    padding: 6px 10px;
    margin: 18px 0;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.doviz_cevirici input[type=text]:focus {
    border: 3px solid steelblue;
}
.doviz_cevirici select {
    width: 250px;
    padding: 6px 10px;
    margin-bottom: 18px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.doviz_cevirici select:focus {
    border: 3px solid steelblue;
}
 
#birimleri_ters_cevir input[type=button] {
    padding: 6px 10px;
    margin-bottom: 18px;
    background-color: transparent !important;
    color: steelblue;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #ccc;
}

#birimleri_ters_cevir input[type=button]:hover {
    color: white !important;
    font-weight: bold;
    background-color: steelblue !important;
    cursor: pointer;
}

.alisatis {
    font-weight: bold;
    font-size: 16px;
    color: steelblue;
    text-align: center;
}

.alisatis input[type=radio] {
    width: 15px;
    height: 10px;
    margin-bottom: 18px;
}

.sonuc input[type=text] {
    width: 300px;
}
 
a:link {
    color: steelblue;
    text-decoration: none !important;
    cursor: pointer;
    overflow: hidden;
}

a:visited {
    text-decoration: none;
    color: steelblue;
}

#para{
    width: 25   0px;
} 

b{
    font-size: 17px;
}


.deneme{
    border: 1px solid;
    border-radius:15px;
    margin: 5px;
    
}
#dovIsim{
    color: blue;
}
#Baslik{
    color: #B6B8B4;
}
#dovDegisim{
    color: rgb(2, 202, 92)
}


